/****************/
/*     SETUP    */
/****************/
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/****************/
/*    RESETS    */
/****************/
.App {
  text-align: center;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0; padding: 0;
}
/****************/
/* BASE STYLES  */
/****************/
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 2200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-everything {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
html {
  font-size: 62.5%;
}
h1 {
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: lightgoldenrodyellow;
}
h2, h3 {
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin: 10px;
}
p {
  font-family: 'VT323', monospace, Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
/****************/
/*    FONTS    */
/****************/
.font-link {
  font-family: 'Press Start 2P', cursive;
  font-family: 'VT323', monospace;
}
/****************/
/*    HEADER    */
/****************/
header {
  background-color: black;
  color: white;
}
.nav {
  width: 80%;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
}
.nav-ul li {
  display: flex;
}
.button-show {
  visibility: visible;
  text-align: center;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 0 20px;
  margin: auto;
  transition: all 0.2s;
}
.button-show:hover,
.button-show:focus   {
  background-color: white;
  color: black;
  cursor: pointer;
}
.button-hide {
  visibility: hidden;
}
/****************/
/*     MAIN     */
/****************/
main {
  background-image: url(./images/canada-8-bit-min.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ready-button {
  display: block;
  margin: 40px auto;
  background-color: rgba(250,250,210, 0.8);
  border: 5px solid black;
  position: absolute;
  left: 0;
  right: 0;
}
.ready-button-hide {
  display: none;
}
.ready-button:hover,
.ready-button:focus {
  background: lightgoldenrodyellow;
  cursor: pointer;
}
.ready-button p {
  font-size: 4rem;
  padding: 10px;
}
.flex-everything {
  opacity: 100;
  transition: all 2s;
}
.flex-everything-hide {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  transition: all 2s;
}
/****************/
/* Instructions */
/****************/
.instructions {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  max-height: 100vh;
}
.instructions p {
  font-size: 4rem;
}
.instructions span {
  background-color: black;
  color: lightgoldenrodyellow;
  font-weight: bold;
  padding: 0 10px;
}
.instructions-active {
  background-color: lightcoral;
  border: 20px solid black;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  transition: all 2s;
}
.instructions-inactive {
  visibility: hidden;
  border: 40px solid black;
  transform: scale(0.01);
  height: 0;
  position: absolute;
  transition: all 2s;
}
.instructions-active button {
  text-align: center;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 5px 20px;
  margin: 20px 60px;
  transition: all 0.2s;
}
.instructions-active h2 {
  font-size: 4rem;
  margin: 30px 0;
}
.instructions-active button:hover,
.instructions-active button:focus {
  background-color: white;
  color: black;
  cursor: pointer;
}
/****************/
/*   RESULTS    */
/****************/
.results {
  display: block;
  width: 80%;
  margin: 20px 0;
}
.results-hide {
  display: none;
}
.results-flex {
  display: flex;
  justify-content: space-between;;
  text-align: center;
  flex-wrap: wrap;
}
.results-flex p {
  font-size: 3rem;
}
.results-flex .city-name {
  font-weight: bold;
}
.computer-results,
.player-results {
  width: 40%;
  background-color: rgba(255,255,255, 0.8);
  border: 5px solid black;
  border-radius: 10px;
}
/****************/
/* Fight Panel  */
/****************/
.fight-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  bottom: 50px;
}
.fight-panel-images {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.computer-choice-image,
.player-choice-image {
  border: 5px solid black;
  width: 40%;
}
.computer-choice-image .computer-flag {
  width: 100%;
  height: 100%;
}
.fight-start {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fight-start .verses {
  width: auto;
  height: 50%;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin: 10px;
}
.fight-start .verses p {
  font-size: 3.5rem;
}
.fight-start .verses:hover,
.fight-start .verses:focus {
  background-color: white;
  color: black;
  transition: all 0.2s;
  cursor: pointer;
}
.fight-start .verses:active {
  background-color: red;
  transition: all 0s;
}
.fight-start h2 {
  padding: 20px;
}
.computer-choice-image img,
.player-choice-image img {
  width: 100%;
  height: 100%;
}
.fight-panel-info {
  background-color: rgba(255,255,255, 0.8);
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  border: 5px solid black;
  border-radius: 10px;
  margin: 5px;
}
.computer-choice {
  width: 40%;
}
.choose {
  font-size: 3.5rem;
}
.vs {
  font-size: 4rem;
}
.player-choice {
  width: 40%;
}
.location-list {
  width: 100%;
}
.choose-fighter {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  border: 5px solid black;
  border-radius: 10px;
  justify-content: center;
}
.choose-fighter label {
  width: 20%;
  position: relative;
}
.choose-fighter label div {
  display: none;
  width: 100%;
  height: 100%;
  color: white;
  background-color:rgba(0, 0, 0, 0.8);
  position: absolute;
}
.choose-fighter label:hover .choose,
.choose-fighter label:focus .choose {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.choose-fighter label:active .choose {
  display: block;
  background-color: crimson;
  color: black;
}
.choose-fighter [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.choose-fighter label img {
  width: 100%;
}
