/****************/
/*     SETUP    */
/****************/

/****************/
/*    RESETS    */
/****************/
.App {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

/****************/
/* BASE STYLES  */
/****************/
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 2200px;
  display: flex;
  justify-content: center;
}

/****************/
/*    HEADER    */
/****************/
header {
  background-color: black;
  color: white;
}
/****************/
/*     MAIN     */
/****************/
main {
  background-image: url(./images/canada-8-bit-min.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* position: relative; */
}
.instructions {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
}
.instructions-active {
  background-color: lightcoral;
  border: 5px solid burlywood;
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

.instructions-inactive {
  display: none;
}

.fight-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

.fight-panel-images {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.computer-choice-image {
  border: 5px solid black;
  width: 20%;
}
.computer-choice-image img,
.player-choice-image img {
  width: 100%;
  height: 100%;
}
.player-choice-image {
  border: 5px solid black;
  width: 20%;
}

.fight-panel-info {
  background-color: rgba(255,255,255, 0.8);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  border: 5px solid black;
  border-radius: 10px;
  margin: 5px;
}

.computer-choice {
  width: 40%;
}
.player-choice {
  width: 40%;
}
.location-list {
  width: 100%;
}

.choose-fighter {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  border: 5px solid black;
  border-radius: 10px;
  justify-content: center;
}
.choose-fighter label {
  width: 20%;
  position: relative;
}
.choose-fighter label div {
  display: none;
  width: 100%;
  height: 100%;
  color: white;
  background-color:rgba(0, 0, 0, 0.8);
  position: absolute;
}
.choose-fighter label:hover .choose,
.choose-fighter label:focus .choose {
  display: block;
  cursor: pointer;
}
.choose-fighter label:active .choose {
  display: block;
  background-color: crimson;
  color: black;
}
.choose-fighter [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.choose-fighter label img {
  width: 100%;
}
.fight-start {
  width: 100%;
}